<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="style/style.css" />

    <title>Document</title>
  </head>

  <body>
    <header><h1>Book componenent by function</h1></header>

    <main>
      <div id="BookCon">
        <nav>
          <a class="navigationBtn" href="page.html">Home</a>
          <a class="navigationBtn" href="about.html"> About</a>
          <a class="navigationBtn" href="contact.html">Contact</a>
        </nav>
        <div id="topCon">
          <p id="trademark">O'REILLY <span>&trade;</span></p>

          <div id="innerTopCon">
            <p>
              jsjfdsjgjdhgjkfdjhkgkdfj<br />
              sdklgjdlkghjfdjhkkjkhfjlk <br />
            </p>
            <p id="author">KYLE SIMPSON</p>
          </div>
        </div>

        <div id="midCon">
          <p>
            SCOPES <span>&</span> <br />
            CLOSURES
          </p>
        </div>
        <div id="mainCon">
          <span id="JSspan">JS</span>
        </div>
      </div>
      <h2>by Kyle Simpson</h2>
      <section>
        <p>
          Parts of the language that javascript <br />programmers simply just
          avoid
        </p>
      </section>
    </main>

    <footer>
      <p>Moahamad 2024&copf;</p>
    </footer>
  </body>
</html>
